@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --clr-gold: #c59d5f;
  --transition: all 0.6s linear;
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-7: hsl(205, 90%, 76%);
}

.WelcomePage {
  background-color: #283747;
}

.starsWEB {
  /*background-color: #696969; */
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("stars.jpg");
  background-position: center;
  width: cover;
  height: cover;
  min-width: 100%;
  min-height: 100%;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paintBlue {
  background-color: #283747;
  justify-content: center;
}

.form-header {
  background-color: #283747;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  height: 100vh;
}

.form-input,
.form-textarea,
.select-value {
  border: 1px solid var(--clr-gold);
  color: var(--clr-gold);
  width: 200px;
  height: 30px;
  text-align: center;
}

.form-textarea {
  height: 90px;
}

.form-option {
  color: var(--clr-gold);
}


.btnn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.select-value {
  background-color: black;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  gap: 1rem;
}

.item-info {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}
.price {
  color: var(--clr-gold);
  white-space: nowrap;
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 300px;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: grid;
}

.item-text {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.title h1 {
  font-family: "Staatliches", "Times New Roman", Times, serif;
  display: flex;
  font-size: 4.5rem;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: var(--clr-gold);
}

.underline {
  width: 15rem;
  height: 0.3rem;
  background: var(--clr-gold);
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.underline-bottom {
  width: 15rem;
  height: 0.3rem;
  background: var(--clr-gold);
  padding-top: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.btn-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}

@media screen and (max-width: 480px) {
  .filter-btn {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2% 0px 0px;
    font-size: 0.5rem;
  }
}

.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.search-input {
  font-family: "Staatliches", "Times New Roman", Times, serif;
  border: 1px solid var(--clr-gold);
  text-align: center;
  justify-content: center;
  background-color: transparent;
  max-width: fit-content;
  margin: auto;
  margin-bottom: 20px;
  padding: auto;
  font-size: 20px;
  color: white;
}

::placeholder {
  color: ivory;
}

input:focus::placeholder {
  color: transparent;
}

.return-button {
  position: fixed;
  bottom: 0%;
  right: 20%;
  padding: 6px 20px;
  size: 20px;
  border-bottom: 6px solid var(--clr-gold);
  border-right: 2.5px solid var(--clr-gold);
  border-left: 2.5px solid var(--clr-gold);
  border-top: 0.2px solid var(--clr-gold);
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
  font-family: "monospace";
  font-size: 30px;
  background: transparent;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
  text-align: center;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.anim-circle {
  position: fixed;
  margin: auto;
  top: 5%;
  right: 5%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px #fff;
}

@media screen and (max-width: 480px) {
  .social-icons {
    display: none;
    visibility: hidden;
  }

  .anim-circle {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 200px) {
  .nav-header {
    background: transparent;
    margin: 0 auto;
    padding: auto;
    display: flex;
    justify-content: center;
  }

  .links #hidden {
    position: absolute;
    overflow: hidden;
    display: grid;
    padding: auto;
    margin: 5px;
    max-height: 230px;
    width: 100%;
  }
}

.nav-toggle {
  font-size: 2.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  padding: auto;
  margin: auto;
}
.nav-toggle:focus {
  color: var(--clr-primary-1);
  transform: rotate(20deg);
}

.links-container {
  height: auto !important;
}

.links a {
  display: grid;

  font-size: 25px;
  padding: 2px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  position: absolute;
  left: 25%;
}
.links a:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
  transition: var(--transition);
}

.social-icons {
  position: fixed;
  left: 30px;
  padding: auto;
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
}

.social-icons a {
  font-size: 3rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-7);
}

.form-message {
  font-family: "Staatliches";
  margin: 20px;
  width: 50vw;
  height: 2rem;
  max-width: 400px;
  background-color: transparent;
  max-height: 250px;
  font-size: 1.5rem;
  display: grid;
  text-align: center;
  border: none;
  border-bottom: 4px solid var(--clr-gold);
}

.form-label-name {
  font-family: "Staatliches";
  font-weight: bolder;
  font-size: 30px;
  color: var(--clr-gold);
  display: block;
  text-align: center;
  padding: 10px;
  letter-spacing: 0.4rem;
}

.form-textarea {
  height: 100px;
  display: grid;
  justify-content: center;

  border: 2px solid var(--clr-gold);
}

.form-textarea:focus::placeholder {
  color: transparent;
}
